In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
# read in only relevant removal reason data from 'final_merge_minus_abscondence.csv' 
# commented code uses column index instead of titles

data_df = pd.read_csv('../Improving Foster Care Placements/final_merge_minus_abscondence.csv')

In [11]:
# Keep only first instance of each child ID, so have one list of removal reasons per child

per_child_df = data_df.drop_duplicates(['CL_ID'])
per_child_df

,CL_ID,SEQ_NBR,HOME_RMVL_DT,CLIENT_RMVL,In_Placements,Abandonment,Alcohol Use/Abuse - Caretaker,Alcohol Use/Abuse - Child,Death of Parent(s),Domestic Violence,...,RTF Room and Board,Shelter,Shelter Teen Mother with Non-Dependent Child,Teen Family Foster Care (ages 12-21 years),Teen mother with 2 non-dependent children,Teen Mother with 2 Non-Dependent Children,Teen mother with non-dependent child,Teen Parent Family Foster Care (ages 12-21) plus one non-dependent child,Therapeutic Foster Care,<NA>
0,800035,1,2010-12-05,80003540517,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,800038,1,2011-08-17,80003840772,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,800043,1,2010-05-21,80004340319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,800044,1,2010-05-14,80004440312,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,800045,1,2010-05-21,80004540319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,800046,1,2010-05-21,80004640319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,800047,1,2010-05-21,80004740319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,800048,1,2010-05-21,80004840319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,800056,1,2013-01-28,80005641302,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,800078,1,2010-01-06,80007840184,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,800088,1,2009-12-02,80008840149,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,800095,1,2015-01-08,80009542012,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,800096,1,2011-06-13,80009640707,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,800138,1,2010-03-01,80013840238,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,800139,1,2010-03-01,80013940238,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,800176,1,2016-05-30,80017642520,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,800179,1,2012-06-18,80017941078,Y,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,800183,1,2012-07-20,80018341110,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
74,800184,1,2012-07-20,80018441110,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
75,800194,1,2015-10-25,80019442302,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,800213,1,2010-12-16,80021340528,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,800215,1,2014-07-17,80021541837,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,800216,1,2014-07-17,80021641837,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,800239,1,2009-12-17,80023940164,Y,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,800240,1,2009-12-17,80024040164,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,800261,1,2008-10-10,80026139731,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,800330,1,2008-10-24,80033039745,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,800375,1,2008-12-18,80037539800,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,800409,1,2010-07-20,80040940379,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,800420,1,2011-06-01,80042040695,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47703,1110599,1,2016-07-18,111059942569,Y,0,0,0,0,0,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
47704,1110602,1,2016-07-18,111060242569,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47705,1110606,1,2016-07-27,111060642578,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47707,1110826,1,2016-07-20,111082642571,Y,1,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
47708,1110882,1,2016-07-22,111088242573,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47709,1110985,1,2016-07-21,111098542572,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47710,1111021,1,2016-07-25,111102142576,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
47712,1111070,1,2016-07-26,111107042577,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47713,1111123,1,2016-08-13,111112342595,Y,0,0,0,0,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47714,1111205,1,2016-07-27,111120542578,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47715,1111290,1,2016-07-28,111129042579,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47716,1111359,1,2016-08-02,111135942584,Y,0,0,0,0,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47717,1111521,1,2016-08-01,111152142583,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47718,1111618,1,2016-08-02,111161842584,Y,0,0,0,0,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47719,1111645,1,2016-08-04,111164542586,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
47720,1111684,1,2016-08-02,111168442584,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47721,1111710,1,2016-08-02,111171042584,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47722,1111729,1,2016-08-03,111172942585,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47723,1111868,1,2016-08-08,111186842590,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47724,1111880,1,2016-07-31,111188042582,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47725,1111895,1,2016-08-04,111189542586,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47728,1111906,1,2016-08-02,111190642584,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47729,1112008,1,2016-08-05,111200842587,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47730,1112316,1,2016-08-10,111231642592,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47732,1112453,1,2016-08-15,111245342597,Y,0,0,0,0,0,...,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
47733,1112455,1,2016-08-15,111245542597,Y,0,0,0,0,0,...,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
47734,1112499,1,2016-08-15,111249942597,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47735,1112507,1,2016-08-13,111250742595,Y,0,0,0,0,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47736,1112560,1,2016-08-15,111256042597,Y,0,1,0,0,1,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47737,1112723,1,2016-07-30,111272342581,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
per_child_df[per_child_df['RMVL_TYPE'] != 'First Entry']

,CL_ID,SEQ_NBR,HOME_RMVL_DT,CLIENT_RMVL,In_Placements,Abandonment,Alcohol Use/Abuse - Caretaker,Alcohol Use/Abuse - Child,Death of Parent(s),Domestic Violence,...,RTF Room and Board,Shelter,Shelter Teen Mother with Non-Dependent Child,Teen Family Foster Care (ages 12-21 years),Teen mother with 2 non-dependent children,Teen Mother with 2 Non-Dependent Children,Teen mother with non-dependent child,Teen Parent Family Foster Care (ages 12-21) plus one non-dependent child,Therapeutic Foster Care,<NA>
1203,806591,2,2010-10-29,80659140480,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1510,808378,2,2012-04-13,80837841012,Y,1,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3869,816548,2,2009-07-06,81654840000,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5538,822161,2,2011-03-16,82216140618,Y,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5542,822162,2,2013-05-24,82216241418,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5653,822655,2,2010-11-15,82265540497,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6696,826794,2,2009-06-26,82679439990,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7104,828198,2,2011-10-05,82819840821,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7109,828199,2,2011-10-04,82819940820,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7645,830256,2,2010-11-12,83025640494,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7669,830357,2,2013-01-07,83035741281,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8200,832970,2,2012-01-10,83297040918,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8436,834021,3,2005-03-10,83402138421,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8696,835067,2,2009-02-27,83506739871,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8802,835613,2,2011-04-18,83561340651,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9851,839490,2,2008-08-08,83949039668,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10164,840488,2,2002-04-04,84048837350,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10713,841813,2,2011-06-13,84181340707,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10990,842551,2,2012-11-29,84255141242,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12478,846750,3,2009-09-12,84675040068,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13132,849070,2,2016-04-04,84907042464,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14223,852660,1,2010-03-31,85266040268,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15985,860304,2,2009-04-26,86030439929,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17939,870122,1,2010-05-23,87012240321,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21575,886805,2,2011-10-08,88680540824,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25627,910331,2,2011-07-27,91033140751,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25728,911001,2,2010-05-24,91100140322,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26026,912598,2,2012-11-28,91259841241,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26243,914025,2,2011-07-21,91402540745,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27631,920041,2,2012-09-17,92004141169,Y,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34444,975553,2,2015-04-17,97555342111,Y,0,0,0,0,0,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35628,980631,2,2014-07-01,98063141821,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37391,990368,1,2011-10-20,99036840836,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37475,991113,2,2012-03-14,99111340982,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37677,991990,2,2012-04-13,99199041012,Y,1,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38024,994273,2,2015-04-17,99427342111,Y,0,0,0,0,0,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40674,1011900,3,2013-05-17,101190041411,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
41677,1018185,2,2013-02-13,101818541318,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41717,1018475,2,2013-10-20,101847541567,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42070,1021391,2,2016-06-22,102139142543,Y,0,0,0,0,0,...,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0
42965,1028349,2,2015-11-23,102834942331,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43760,1035680,2,2016-02-10,103568042410,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44431,1042903,1,2014-01-17,104290341656,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45486,1055054,2,2015-04-30,105505442124,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46008,1059591,2,2016-05-16,105959142506,Y,0,0,0,0,0,...,NaN,1.0,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN

In [13]:
first_spells_df2 = data_df[data_df['RMVL_TYPE'] == 'First Entry'].drop_duplicates(['CLIENT_ID'])
first_spells_df2

,CL_ID,SEQ_NBR,HOME_RMVL_DT,CLIENT_RMVL,In_Placements,Abandonment,Alcohol Use/Abuse - Caretaker,Alcohol Use/Abuse - Child,Death of Parent(s),Domestic Violence,...,RTF Room and Board,Shelter,Shelter Teen Mother with Non-Dependent Child,Teen Family Foster Care (ages 12-21 years),Teen mother with 2 non-dependent children,Teen Mother with 2 Non-Dependent Children,Teen mother with non-dependent child,Teen Parent Family Foster Care (ages 12-21) plus one non-dependent child,Therapeutic Foster Care,<NA>
0,800035,1,2010-12-05,80003540517,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,800038,1,2011-08-17,80003840772,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,800043,1,2010-05-21,80004340319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,800044,1,2010-05-14,80004440312,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,800045,1,2010-05-21,80004540319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,800046,1,2010-05-21,80004640319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,800047,1,2010-05-21,80004740319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,800048,1,2010-05-21,80004840319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,800056,1,2013-01-28,80005641302,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,800078,1,2010-01-06,80007840184,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,800088,1,2009-12-02,80008840149,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,800095,1,2015-01-08,80009542012,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,800096,1,2011-06-13,80009640707,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,800138,1,2010-03-01,80013840238,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,800139,1,2010-03-01,80013940238,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,800176,1,2016-05-30,80017642520,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,800179,1,2012-06-18,80017941078,Y,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,800183,1,2012-07-20,80018341110,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
74,800184,1,2012-07-20,80018441110,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
75,800194,1,2015-10-25,80019442302,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,800213,1,2010-12-16,80021340528,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,800215,1,2014-07-17,80021541837,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,800216,1,2014-07-17,80021641837,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,800239,1,2009-12-17,80023940164,Y,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,800240,1,2009-12-17,80024040164,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,800261,1,2008-10-10,80026139731,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,800330,1,2008-10-24,80033039745,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,800375,1,2008-12-18,80037539800,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,800409,1,2010-07-20,80040940379,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,800420,1,2011-06-01,80042040695,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47703,1110599,1,2016-07-18,111059942569,Y,0,0,0,0,0,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
47704,1110602,1,2016-07-18,111060242569,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47705,1110606,1,2016-07-27,111060642578,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47707,1110826,1,2016-07-20,111082642571,Y,1,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
47708,1110882,1,2016-07-22,111088242573,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47709,1110985,1,2016-07-21,111098542572,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47710,1111021,1,2016-07-25,111102142576,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
47712,1111070,1,2016-07-26,111107042577,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47713,1111123,1,2016-08-13,111112342595,Y,0,0,0,0,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47714,1111205,1,2016-07-27,111120542578,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47715,1111290,1,2016-07-28,111129042579,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47716,1111359,1,2016-08-02,111135942584,Y,0,0,0,0,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47717,1111521,1,2016-08-01,111152142583,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47718,1111618,1,2016-08-02,111161842584,Y,0,0,0,0,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47719,1111645,1,2016-08-04,111164542586,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
47720,1111684,1,2016-08-02,111168442584,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47721,1111710,1,2016-08-02,111171042584,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47722,1111729,1,2016-08-03,111172942585,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47723,1111868,1,2016-08-08,111186842590,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47724,1111880,1,2016-07-31,111188042582,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47725,1111895,1,2016-08-04,111189542586,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47728,1111906,1,2016-08-02,111190642584,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47729,1112008,1,2016-08-05,111200842587,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47730,1112316,1,2016-08-10,111231642592,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47732,1112453,1,2016-08-15,111245342597,Y,0,0,0,0,0,...,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
47733,1112455,1,2016-08-15,111245542597,Y,0,0,0,0,0,...,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
47734,1112499,1,2016-08-15,111249942597,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47735,1112507,1,2016-08-13,111250742595,Y,0,0,0,0,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47736,1112560,1,2016-08-15,111256042597,Y,0,1,0,0,1,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47737,1112723,1,2016-07-30,111272342581,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
per_child_temp = data_df.drop_duplicates(['CL_ID'])
per_child_first_entry = per_child_temp[per_child_temp['RMVL_TYPE'] == 'First Entry']
per_child_first_entry

,CL_ID,SEQ_NBR,HOME_RMVL_DT,CLIENT_RMVL,In_Placements,Abandonment,Alcohol Use/Abuse - Caretaker,Alcohol Use/Abuse - Child,Death of Parent(s),Domestic Violence,...,RTF Room and Board,Shelter,Shelter Teen Mother with Non-Dependent Child,Teen Family Foster Care (ages 12-21 years),Teen mother with 2 non-dependent children,Teen Mother with 2 Non-Dependent Children,Teen mother with non-dependent child,Teen Parent Family Foster Care (ages 12-21) plus one non-dependent child,Therapeutic Foster Care,<NA>
0,800035,1,2010-12-05,80003540517,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,800038,1,2011-08-17,80003840772,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,800043,1,2010-05-21,80004340319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,800044,1,2010-05-14,80004440312,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,800045,1,2010-05-21,80004540319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,800046,1,2010-05-21,80004640319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,800047,1,2010-05-21,80004740319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,800048,1,2010-05-21,80004840319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,800056,1,2013-01-28,80005641302,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,800078,1,2010-01-06,80007840184,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,800088,1,2009-12-02,80008840149,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,800095,1,2015-01-08,80009542012,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,800096,1,2011-06-13,80009640707,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,800138,1,2010-03-01,80013840238,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,800139,1,2010-03-01,80013940238,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,800176,1,2016-05-30,80017642520,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,800179,1,2012-06-18,80017941078,Y,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,800183,1,2012-07-20,80018341110,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
74,800184,1,2012-07-20,80018441110,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
75,800194,1,2015-10-25,80019442302,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,800213,1,2010-12-16,80021340528,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,800215,1,2014-07-17,80021541837,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,800216,1,2014-07-17,80021641837,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,800239,1,2009-12-17,80023940164,Y,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,800240,1,2009-12-17,80024040164,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,800261,1,2008-10-10,80026139731,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,800330,1,2008-10-24,80033039745,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,800375,1,2008-12-18,80037539800,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,800409,1,2010-07-20,80040940379,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,800420,1,2011-06-01,80042040695,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47703,1110599,1,2016-07-18,111059942569,Y,0,0,0,0,0,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
47704,1110602,1,2016-07-18,111060242569,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47705,1110606,1,2016-07-27,111060642578,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47707,1110826,1,2016-07-20,111082642571,Y,1,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
47708,1110882,1,2016-07-22,111088242573,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47709,1110985,1,2016-07-21,111098542572,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47710,1111021,1,2016-07-25,111102142576,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
47712,1111070,1,2016-07-26,111107042577,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47713,1111123,1,2016-08-13,111112342595,Y,0,0,0,0,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47714,1111205,1,2016-07-27,111120542578,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47715,1111290,1,2016-07-28,111129042579,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47716,1111359,1,2016-08-02,111135942584,Y,0,0,0,0,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47717,1111521,1,2016-08-01,111152142583,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47718,1111618,1,2016-08-02,111161842584,Y,0,0,0,0,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47719,1111645,1,2016-08-04,111164542586,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
47720,1111684,1,2016-08-02,111168442584,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47721,1111710,1,2016-08-02,111171042584,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47722,1111729,1,2016-08-03,111172942585,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47723,1111868,1,2016-08-08,111186842590,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47724,1111880,1,2016-07-31,111188042582,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47725,1111895,1,2016-08-04,111189542586,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47728,1111906,1,2016-08-02,111190642584,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47729,1112008,1,2016-08-05,111200842587,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47730,1112316,1,2016-08-10,111231642592,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47732,1112453,1,2016-08-15,111245342597,Y,0,0,0,0,0,...,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
47733,1112455,1,2016-08-15,111245542597,Y,0,0,0,0,0,...,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
47734,1112499,1,2016-08-15,111249942597,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47735,1112507,1,2016-08-13,111250742595,Y,0,0,0,0,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47736,1112560,1,2016-08-15,111256042597,Y,0,1,0,0,1,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47737,1112723,1,2016-07-30,111272342581,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data_df[data_df['RMVL_TYPE'] == 'First Entry'].drop_duplicates(['CLIENT_RMVL'])

,CL_ID,SEQ_NBR,HOME_RMVL_DT,CLIENT_RMVL,In_Placements,Abandonment,Alcohol Use/Abuse - Caretaker,Alcohol Use/Abuse - Child,Death of Parent(s),Domestic Violence,...,RTF Room and Board,Shelter,Shelter Teen Mother with Non-Dependent Child,Teen Family Foster Care (ages 12-21 years),Teen mother with 2 non-dependent children,Teen Mother with 2 Non-Dependent Children,Teen mother with non-dependent child,Teen Parent Family Foster Care (ages 12-21) plus one non-dependent child,Therapeutic Foster Care,<NA>
0,800035,1,2010-12-05,80003540517,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,800038,1,2011-08-17,80003840772,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,800043,1,2010-05-21,80004340319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,800044,1,2010-05-14,80004440312,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,800045,1,2010-05-21,80004540319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,800046,1,2010-05-21,80004640319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,800047,1,2010-05-21,80004740319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,800048,1,2010-05-21,80004840319,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,800056,1,2013-01-28,80005641302,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,800078,1,2010-01-06,80007840184,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,800088,1,2009-12-02,80008840149,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,800095,1,2015-01-08,80009542012,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,800096,1,2011-06-13,80009640707,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,800138,1,2010-03-01,80013840238,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,800139,1,2010-03-01,80013940238,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,800176,1,2016-05-30,80017642520,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,800179,1,2012-06-18,80017941078,Y,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,800183,1,2012-07-20,80018341110,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
74,800184,1,2012-07-20,80018441110,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
75,800194,1,2015-10-25,80019442302,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,800213,1,2010-12-16,80021340528,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,800215,1,2014-07-17,80021541837,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,800216,1,2014-07-17,80021641837,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,800239,1,2009-12-17,80023940164,Y,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,800240,1,2009-12-17,80024040164,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,800261,1,2008-10-10,80026139731,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,800330,1,2008-10-24,80033039745,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,800375,1,2008-12-18,80037539800,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,800409,1,2010-07-20,80040940379,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,800420,1,2011-06-01,80042040695,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47703,1110599,1,2016-07-18,111059942569,Y,0,0,0,0,0,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
47704,1110602,1,2016-07-18,111060242569,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47705,1110606,1,2016-07-27,111060642578,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47707,1110826,1,2016-07-20,111082642571,Y,1,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
47708,1110882,1,2016-07-22,111088242573,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47709,1110985,1,2016-07-21,111098542572,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47710,1111021,1,2016-07-25,111102142576,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
47712,1111070,1,2016-07-26,111107042577,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47713,1111123,1,2016-08-13,111112342595,Y,0,0,0,0,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47714,1111205,1,2016-07-27,111120542578,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47715,1111290,1,2016-07-28,111129042579,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47716,1111359,1,2016-08-02,111135942584,Y,0,0,0,0,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47717,1111521,1,2016-08-01,111152142583,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47718,1111618,1,2016-08-02,111161842584,Y,0,0,0,0,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47719,1111645,1,2016-08-04,111164542586,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
47720,1111684,1,2016-08-02,111168442584,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47721,1111710,1,2016-08-02,111171042584,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47722,1111729,1,2016-08-03,111172942585,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47723,1111868,1,2016-08-08,111186842590,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47724,1111880,1,2016-07-31,111188042582,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47725,1111895,1,2016-08-04,111189542586,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47728,1111906,1,2016-08-02,111190642584,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47729,1112008,1,2016-08-05,111200842587,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47730,1112316,1,2016-08-10,111231642592,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47732,1112453,1,2016-08-15,111245342597,Y,0,0,0,0,0,...,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
47733,1112455,1,2016-08-15,111245542597,Y,0,0,0,0,0,...,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
47734,1112499,1,2016-08-15,111249942597,Y,0,0,0,0,0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47735,1112507,1,2016-08-13,111250742595,Y,0,0,0,0,1,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47736,1112560,1,2016-08-15,111256042597,Y,0,1,0,0,1,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47737,1112723,1,2016-07-30,111272342581,Y,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
# list of IDs unique with First Entry

entries = data_df[['CL_ID', 'RMVL_TYPE']]
fe = entries[entries['RMVL_TYPE'] =='First Entry']
fe_ids = fe.drop_duplicates(['CL_ID'])
fe_ids = fe_ids[['CL_ID']]

# list of IDs unique with 'reentry'
re = entries[entries['RMVL_TYPE'] =='Reentry']
re_ids = re.drop_duplicates(['CL_ID'])
re_ids = re_ids[['CL_ID']]


# difference between all unique Ids and unique First Entry ids
print("count of First Entry unique ids: ", fe_ids.count())
print('count of per child ids: ', per_child_df['CL_ID'].count())
ids = []
for x in per_child_df['CL_ID'].values:
    if x not in fe_ids.values:
        ids.append(x)

print('List of CL_IDs where first entry into system is not recorded: ', ids)
# any 'null' values in 'RMVL_TYPE'?

count of First Entry unique ids:  CL_ID    14381
dtype: int64
count of per child ids:  14425
List of CL_IDs where first entry into system is not recorded:  [806591, 808378, 816548, 822161, 822162, 822655, 826794, 828198, 828199, 830256, 830357, 832970, 834021, 835067, 835613, 839490, 840488, 841813, 842551, 846750, 849070, 852660, 860304, 886805, 910331, 911001, 912598, 914025, 920041, 975553, 980631, 990368, 991113, 991990, 994273, 1011900, 1018185, 1018475, 1021391, 1028349, 1035680, 1042903, 1055054, 1059591]